<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transport_card_type.name %>
</p>

<%= link_to 'Edit', edit_transport_card_type_path(@transport_card_type) %> |
<%= link_to 'Back', transport_card_types_path %>
